target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/vcs.xml
.idea/src/main/java/module-info.java

### Mac OS ###
.DS_Store